body .pane {
    background: #bbb;
}

.divider {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    background: #ddd;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}
