.tre-style-panel {
    padding: .4em 0;
    box-sizing: border-box;
}
.tre-style-panel .tre-editor-shell > span,
.tre-style-panel .tre-stylesheet-editor h1 {
    display: none;
}
.tre-style-panel .new-revision,
.tre-style-panel .new-revision > details > summary {
    background: #d92;
    padding: .5em;
}
.tre-style-panel::before {
    content: 'Stylesheets';
    font-family: "NotoSansDisplay ThinItalic";
    color: #222;
    font-weight: 200;
    font-size: 18pt;
    display: block;
    margin-bottom: .3em;
    text-shadow: 1px 1px 2px  rgba(0,0,0,.7);
    padding-left: 1em;
}

.tre-style-panel summary {
    background: #aaa;
    margin-bottom: .1em;
    border-top: 1px solid #ccc;
    padding-left: 1em;
}


.tre-style-panel .tre-stylesheet-editor, .ace_editor {
    width: 100% !important;
    padding: 0;
    margin: 0;
}